––– GLOBAL –––
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: "Raleway", sans-serif;
    line-height: 1.6;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

*+* {
    margin-top: 1.5em;
}

:root {
    --red: #ff2020;
}

::selection {
    background-color: var(--red, red);
    color: white;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000000;
}

img {
    border-radius: 5px;
    width: 100%;
    max-height: auto;
    transition: width 1s ease-in;
}

.img-half {
    width: 45%;
    margin: 2%;
}

/* –––––––––––––––––––––––––––––––––––––––– */

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

/* ––– NAV –––*/
nav {
    height: 100px;
    line-height: 100px;
    padding: 0 5rem;
}

.nav::after {
    content: "";
    clear: both;
    display: table;
}

.brand {
    color: black;
    font-size: 3rem;
    text-decoration: none;
}

.brand:hover {
    color: var(--red, red);
    transition: 0.5s ease;
}

.nav a:nth-child(2) {
    float: right;
}

/* ––– HEADER –––*/
.header {
    padding: 4rem;
}

.project {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
    margin-top: 5rem;
    font-size: .8rem
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.header h1 {
    margin-top: 0;
    font-size: 6rem;
    font-weight: bold;

    animation: moveInLeft;
    animation-duration: 1s;
}

.header p {
    width: 60%;
    font-size: 1.5rem;
    line-height: 2.2;
}

.header a {
    color: var(--red, red);
}

/* ––– FOOTER –––*/
.footer {
    margin-top: 5rem;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

/* ––– RESPONSIVE –––*/
/* @media only screen and (max-width: 1024px) {

    body {
        margin-top: 0;
    }

    .nav {
        padding: 1rem;
    }

    .brand {
        font-size: 2rem;
    }

    .header p {
        width: 100%;
        font-size: 1rem;
    }

    .project {
        font-size: .5rem;
        margin-top: 1rem;
    }

    .header {
        width: 96%;
        padding: 1rem;
        margin: 1rem 0;
        text-align: left;
    }

    .header h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
        font-weight: 700;
    }

    .img-half {
        width: 100%;
        margin: 0;
    } */
}