/* ––– GLOBAL –––*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  color: white;
  font-family: "Raleway", sans-serif;
  line-height: 1.6;
}

:root {
  --red: #ff2020;
}

html {
  box-sizing: border-box;
}

body {
  background: black;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*+* {
  margin-top: 1.5em;
}

::selection {
  background-color: var(--red);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
}

img {
  border-radius: 3px;
  width: 100%;
  max-height: auto;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}

img:hover,
img:focus,
img:active {
  transform: translateY(-8px);
}

/* –––––––––––––––––––––––––––––––––––––––– */

.container {
  max-width: 1440px;
  min-width: 300px;
  width: 100%;
  margin: 0 auto;
}

/* ––– NAV –––*/
nav {
  height: 100px;
  line-height: 100px;
  padding: 0 5rem;
  margin-bottom: 10%;
}

.nav::after {
  content: "";
  clear: both;
  display: table;
}

.brand {
  font-size: 3rem;
  text-decoration: none;
}

.brand:hover {
  color: var(--red);
  transition: 0.5s ease;
}

.nav a:nth-child(2) {
  float: right;
}

/* ––– HEADER –––*/
.header {
  text-align: center;
  height: 80vh;
}

.title {
  font-size: 6rem;
  margin-bottom: 1rem;
  font-weight: bold;

  animation: moveInLeft;
  animation-duration: 1s;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.dot {
  width: 25px;
  height: 25px;
  display: inline-block;
  border-radius: 50%;
  background-color: var(--red);
}

.subtitle {
  width: 60%;
  margin: 1.5rem auto;
  font-size: 1.5rem;
  line-height: 2.2;

  animation: moveInRight;
  animation-duration: 1s;
}

.header a {
  color: var(--red);
  text-decoration: none;
  border-bottom: 1px solid var(--red, red);
}

/* ––– WORK –––*/
.works {
  text-align: center;
  width: 100%;
}

.works a img {
  margin: 1%;
  width: 45%;
  animation: moveInUp 1s;
}

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* ––– WHATIDO –––*/
.whatIdo {
  position: relative;
  text-align: center;
  margin-bottom: 5rem;
}

.whatIdo h2 {
  font-size: 5rem;
}

.iAm {
  position: absolute;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  font-weight: 700;
  color: var(--red);
  font-size: 9.5rem;
}

.list li {
  font-size: 1.5rem;
  margin-top: 1;
  list-style: none;
}

/* ––– FOOTER –––*/
.footer {
  margin-top: 5rem;
  padding: 1rem;

  font-size: 1.5rem;
  text-align: center;
}

.footer-text {
  font-size: 1rem;
}

/* ––– RESPONSIVE –––*/
@media only screen and (max-width: 1024px) {
  body {
    margin-top: 0;
  }

  .nav {
    padding: 1rem;
  }

  .brand {
    font-size: 2rem;
  }

  .dot {
    display: none;
  }

  .header {
    width: 96%;
    height: 100%;
    padding: 1rem;
    /* margin-top: 2rem auto; */
    text-align: left;
  }

  .header h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 700;
  }

  .header p {
    width: 100%;
  }

  .works a img {
    margin: 1%;
    width: 96%;
  }

  .whatIdo {
    padding: 1rem;
    text-align: left;
    width: 96%;
  }

  .whatIdo h2 {
    font-size: 3rem;
  }

  .iAm {
    visibility: hidden;
  }

  .list {
    margin-left: 10%;
  }

  .list li {
    list-style: disc;
  }
}

@media only screen and (max-width: 420px) {
  .header {
    margin-bottom: 5rem;
  }
}

@media only screen and (min-width: 2560px) {
  .header {
    height: 60vh;
  }
}